## Preprocessing

In [305]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [306]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=['EIN'],inplace=True)

In [307]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [308]:
# Look at APPLICATION_TYPE value counts for binning
application_types = application_df['APPLICATION_TYPE'].value_counts()
application_types

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [309]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T9','T13','T12','T2','T25','T14','T29','T15','T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [310]:
# Look at CLASSIFICATION value counts for binning
classifications = application_df['CLASSIFICATION'].value_counts()
classifications

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [311]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classifications[classifications > 15]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
Name: CLASSIFICATION, dtype: int64

In [312]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = classifications[classifications < 1000].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [313]:
# Look at NAME value counts for binning
names = application_df['NAME'].value_counts()
names

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [314]:
# Look at NAME value counts for binning
names[names > 15]

PARENT BOOSTER USA INC                             1260
TOPS CLUB INC                                       765
UNITED STATES BOWLING CONGRESS INC                  700
WASHINGTON STATE UNIVERSITY                         492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC     408
                                                   ...
THE UNITED STATES PONY CLUB INC                      16
NATIONAL ASSOCIATION OF SCHOLARS                     16
EMERGENCY NURSES ASSOCIATION                         16
SIGMA THETA TAU INTERNATIONAL INC                    16
SPARTAN ATHLETIC CLUB                                16
Name: NAME, Length: 149, dtype: int64

In [315]:
# Choose a cutoff value and create a list of names to be replaced
# use the variable name `names_to_replace`
names_to_replace = names[names < 16].index

# Replace in dataframe
for cls in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                             21916
PARENT BOOSTER USA INC                                             1260
TOPS CLUB INC                                                       765
UNITED STATES BOWLING CONGRESS INC                                  700
WASHINGTON STATE UNIVERSITY                                         492
                                                                  ...
NATIONAL ASSOCIATION OF SCHOLARS                                     16
VETERANS OF FOREIGN WARS DEPARTMENT OF KANSAS LADIES AUXILIARY       16
SIGMA THETA TAU INTERNATIONAL INC                                    16
SPARTAN ATHLETIC CLUB                                                16
EMERGENCY NURSES ASSOCIATION                                         16
Name: NAME, Length: 150, dtype: int64

In [316]:
# Look at ASK_AMT value counts for binning
amounts = application_df['ASK_AMT'].value_counts()
amounts

5000        25398
10478           3
15583           3
63981           3
6725            3
            ...
5371754         1
30060           1
43091152        1
18683           1
36500179        1
Name: ASK_AMT, Length: 8747, dtype: int64

In [317]:
# Look at NAME value counts for binning
amounts[amounts > 1]

5000      25398
10478         3
15583         3
63981         3
6725          3
          ...
100000        2
8181          2
24746         2
45793         2
240780        2
Name: ASK_AMT, Length: 152, dtype: int64

In [318]:
# Choose a cutoff value and create a list of amounts to be replaced
# use the variable name `amounts_to_replace`
amounts_to_replace = amounts[amounts <= 3].index

# Replace in dataframe
for cls in amounts_to_replace:
    application_df['ASK_AMT'] = application_df['ASK_AMT'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['ASK_AMT'].value_counts()

5000     25398
Other     8901
Name: ASK_AMT, dtype: int64

In [319]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies_df = pd.get_dummies(application_df)
application_dummies_df.head()

,STATUS,IS_SUCCESSFUL,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_ALPHA PHI SIGMA INC,NAME_ALTRUSA INTERNATIONAL FOUNDATION INC,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,ASK_AMT_5000,ASK_AMT_Other
0,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
1,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
3,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
4,1,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,1

In [320]:
# Split our preprocessed data into our features and target arrays
y = application_dummies_df['IS_SUCCESSFUL'].values
X = application_dummies_df.drop(columns='IS_SUCCESSFUL').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)

In [321]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [322]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=90, activation="relu", input_dim=number_input_features))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=30, activation="sigmoid"))

# Third hidden layer
nn_model.add(tf.keras.layers.Dense(units=10, activation="sigmoid"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_17"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_68 (Dense)            (None, 90)                17550

 dense_69 (Dense)            (None, 30)                2730

 dense_70 (Dense)            (None, 10)                310

 dense_71 (Dense)            (None, 1)                 11

=================================================================
Total params: 20,601
Trainable params: 20,601
Non-trainable params: 0
_________________________________________________________________

In [323]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [324]:
# Train the model
fit_model = nn_model.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 1ms/step - loss: 0.5144 - accuracy: 0.7617
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4680 - accuracy: 0.7772
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4582 - accuracy: 0.7800
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4544 - accuracy: 0.7793
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4503 - accuracy: 0.7813
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4493 - accuracy: 0.7819
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4473 - accuracy: 0.7828
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4461 - accuracy: 0.7825
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4449 - accuracy: 0.7830
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4441 - accuracy: 0.7837
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4433 - accuracy: 0.7839
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4422 - accuracy: 0.7845
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4417 - accuracy: 0.7848
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4410 - accuracy: 0.7859
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4399 - accuracy: 0.7854
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4398 - accuracy: 0.7851
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4393 - accuracy: 0.7861
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4383 - accuracy: 0.7869
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4373 - accuracy: 0.7865
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4374 - accuracy: 0.7872
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4365 - accuracy: 0.7872
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4361 - accuracy: 0.7874
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4358 - accuracy: 0.7870
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4352 - accuracy: 0.7875
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4347 - accuracy: 0.7875
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4344 - accuracy: 0.7886
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4338 - accuracy: 0.7886
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4339 - accuracy: 0.7892
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4334 - accuracy: 0.7892
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4330 - accuracy: 0.7886
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4331 - accuracy: 0.7882
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4324 - accuracy: 0.7892
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4324 - accuracy: 0.7880
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4320 - accuracy: 0.7874
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4316 - accuracy: 0.7897
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4312 - accuracy: 0.7888
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4309 - accuracy: 0.7899
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4305 - accuracy: 0.7897
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4302 - accuracy: 0.7905
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4307 - accuracy: 0.7895
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4297 - accuracy: 0.7896
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4297 - accuracy: 0.7890
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4293 - accuracy: 0.7893
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4296 - accuracy: 0.7910
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4293 - accuracy: 0.7903
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4292 - accuracy: 0.7898
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4287 - accuracy: 0.7908
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4284 - accuracy: 0.7905
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4282 - accuracy: 0.7911
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4282 - accuracy: 0.7900
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4281 - accuracy: 0.7906
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4277 - accuracy: 0.7913
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4275 - accuracy: 0.7912
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4274 - accuracy: 0.7916
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4277 - accuracy: 0.7909
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4271 - accuracy: 0.7907
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4267 - accuracy: 0.7912
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4267 - accuracy: 0.7922
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4268 - accuracy: 0.7923
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4267 - accuracy: 0.7918
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4264 - accuracy: 0.7923
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4258 - accuracy: 0.7918
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4263 - accuracy: 0.7921
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4263 - accuracy: 0.7917
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4256 - accuracy: 0.7919
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4254 - accuracy: 0.7920
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4251 - accuracy: 0.7916
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4256 - accuracy: 0.7930
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4256 - accuracy: 0.7919
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4250 - accuracy: 0.7922
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4249 - accuracy: 0.7918
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4249 - accuracy: 0.7925
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4245 - accuracy: 0.7922
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4245 - accuracy: 0.7921
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4243 - accuracy: 0.7926
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4244 - accuracy: 0.7923
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4241 - accuracy: 0.7927
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4247 - accuracy: 0.7919
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4245 - accuracy: 0.7924
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4243 - accuracy: 0.7939
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4241 - accuracy: 0.7924
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4240 - accuracy: 0.7934
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4243 - accuracy: 0.7921
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4239 - accuracy: 0.7926
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4237 - accuracy: 0.7926
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4239 - accuracy: 0.7925
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4238 - accuracy: 0.7922
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4241 - accuracy: 0.7931
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4240 - accuracy: 0.7936
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4239 - accuracy: 0.7928
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4239 - accuracy: 0.7937
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4237 - accuracy: 0.7928
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4238 - accuracy: 0.7934
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4236 - accuracy: 0.7933
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4235 - accuracy: 0.7933
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4231 - accuracy: 0.7930
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4231 - accuracy: 0.7938
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4233 - accuracy: 0.7930
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4234 - accuracy: 0.7929
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4231 - accuracy: 0.7937

In [325]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4739 - accuracy: 0.7782 - 303ms/epoch - 1ms/step
Loss: 0.4739382266998291, Accuracy: 0.778192400932312

In [326]:
# Export our model to HDF5 file
nn_model.save('AlphabetSoupCharity_Optimization.h5')

In [338]:
# Try another model
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier

# Instantiate the Decision Tree Classifier model
# Assign a random_state parameter of 1 to the model
dtc = DecisionTreeClassifier(random_state=1)

# Fit the model using training data
dtc.fit(X_train, y_train)

# Make a prediction using the testing data
y_pred = dtc.predict(X_test)

# Print the accuracy score
print(f"Decision Tree Classifier model accuracy: {accuracy_score(y_test,y_pred):.3f}")

Decision Tree Classifier model accuracy: 0.777